<div class="widget">
						
	<div class="widget-header clearfix">
		<i class="icon-sitemap"></i>
		<h3>Create a category</h3>
	</div> <!-- /widget-header -->

	<div class="widget-content">
		<form method="post" action="/admin/categories/new" class="form-horizontal">

			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input type="text" name="name" placeholder="" class="span4" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="name">Visible on Home page</label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="index.visible" value="true" checked="checked">
						Yes
					</label>
					<label class="radio">
						<input type="radio" name="index.visible" value="false" checked="checked">
						No
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="name">Position on Home page</label>
				<div class="controls">
					<select name="index.position" placeholder="" class="span4">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
			</div>

<!-- 			<div class="control-group">
				<label class="control-label" for="categories">Category (parent)</label>
				<div class="controls">
					{{#if categories}}
						<select name="categories" class="span4">
							<option type="checkbox" value=""></option>
						{{#each categories}}
							{{section.parent}}
							<option type="checkbox" value="{{id}}">{{name}}</option>
						{{/each}}
						</select>
					{{/if}}
				</div>
			</div> -->
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">send</button>
			</div>
		</form>
	</div>
</div>

