<div class="row">

<div class="span3">

	<div class="widget">

		<div class="widget-header">
			<h2>Title Widget</h2>
			<a href="" class="btn btn-default btn-mini">button</a>
		</div>
		<div class="widget-content">
		</div>
	</div>	
</div>

<div class="span9">

<h2>Form</h2>


<form method="post" action="/files/new" class="form-inline widget">
	<div class="widget-content">
		<div class="control-group {{#if errors.title}}error{{/if}}">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" name="title" id="title" value="{{field.title}}" class="input-block-level" autofocus/>
			</div>
		</div>
		<div class="control-group {{#if errors.body}}error{{/if}}">
			<label class="control-label" for="body">Body</label>
			<div class="controls">
				<textarea type="text" name="body" id="body" rows="10" class="input-block-level">{{field.body}}</textarea>
				<p class="help-block">help block tect</p>
			</div>
		</div>	
		<div class="control-group {{#if errors.quality}}error{{/if}}">
			<label class="control-label" for="quality">select</label>
			<div class="controls">
				<select name="quality">
					<option>select label</option>
					<option>select label</option>
				</select>
			</div>
		</div>
		<div class="control-group {{#if errors.languages}}error{{/if}}">
			<label class="control-label" for="category">radio</label>
			<div class="controls">
				<label class="radio">
					<input type="radio" name="languages" value="{{id}}"/> radio label
				</label>
				<label class="radio">
					<input type="radio" name="languages" value="{{id}}"/> radio label
				</label>
			</div>
		</div>
		<div class="control-group {{#if errors.languages}}error{{/if}}">
			<label class="control-label" for="category">checkbox</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" name="languages" value="{{id}}"/> checkbox label
				</label>
			</div>
		</div>
	</div>
	<div class="widget-footer">
		<div class="form-actions">
			<a href="" class="btn btn-primary">btn-primary</a>
		</div>
	</div>
</form>

<h3 class="">search</h3>
<form class="">
	<div class="input-append">
		<i class="icon-search"></i>
		<input type="text" class="span4 search-query" placeholder="type your search">
	</div>
</form>

<h2>Buttons</h2>

<p>
	<a href="" class="btn btn-default">btn-default</a>
	<a href="" class="btn btn-secondary">btn-secondary</a>
	<a href="" class="btn btn-primary">btn-primary</a>
</p>
<p>
	<span class="btn-outline"><a href="" class="btn btn-default">btn-default</a></span>
	<span class="btn-outline"><a href="" class="btn btn-secondary">btn-secondary</a></span>
	<span class="btn-outline"><a href="" class="btn btn-primary">btn-primary</a></span>
</p>
<p>
	<span class="btn-outline"><a href="" class="btn btn-large btn-default">btn-default</a></span>
	<span class="btn-outline"><a href="" class="btn btn-large btn-secondary">btn-secondary</a></span>
	<span class="btn-outline"><a href="" class="btn btn-large btn-primary">btn-primary</a></span>
</p>
<p class="btn-group btn-outline">		
	<a href="/login" class="btn btn-default">Log in</a>
	<a href="/register" class="btn btn-primary">Register</a>
</p>

<h2>Widget</h2>
<div class="widget">

	<div class="widget-header">
		<h2>Title Widget</h2>
		<a href="" class="btn btn-default btn-mini">button</a>
	</div>
	<div class="widget-content">
		<p>Content WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent WidgetContent Widget</p>
	</div>
	<div class="widget-footer">
		<a href="" class="pull-left">cancel</a>
		<a href"" class="btn btn-primary pull-right">action1</a>
		<a href"" class="btn btn-default pull-right">action2</a>
	</div>
</div>

<div class="widget widget-nopad widget-table">

	<div class="widget-header">
		<h2>Table Widget</h2>
		<a href="" class="btn btn-default btn-mini">button</a>
	</div>
	<div class="widget-content">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Title</th>
					<th>Description</th>
					<th>Category</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						test esttest est
					</td>
					<td>
						<a href="/files/{{id}}">test esttest esttest est</a>
					</td>
					<td>
						test esttest esttest esttest esttest esttest esttest esttest est
					</td>
					<td>
						test est
					</td>
					<td>
						test est
					</td>
				</tr>
				<tr>
					<td>
						test esttest est
					</td>
					<td>
						<a href="/files/{{id}}">test esttest esttest est</a>
					</td>
					<td>
						test esttest esttest esttest esttest esttest esttest esttest est
					</td>
					<td>
						test est
					</td>
					<td>
						test est
					</td>
				</tr>
				<tr>
					<td>
						test esttest est
					</td>
					<td>
						<a href="/files/{{id}}">test esttest esttest est</a>
					</td>
					<td>
						test esttest esttest esttest esttest esttest esttest esttest est
					</td>
					<td>
						test est
					</td>
					<td>
						test est
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="widget-footer">
		<div class="pagination pagination-small pagination-btn">
		  <ul>
			<li class="disabled"><a href="#">«</a></li>
			<li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">»</a></li>
		  </ul>
		</div>
	</div>
</div>

<h2>Breadcrumbs</h2>

<ul class="breadcrumb" style="margin-bottom: 5px;">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
	<li><a href="#">Library</a> <span class="divider">/</span></li>
	<li class="active">Data</li>
</ul>

<h2>Pagination</h2>

<div class="pagination">
  <ul>
	<li class="disabled"><a href="#">«</a></li>
	<li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>

<div class="pagination pagination-small">
  <ul>
	<li class="disabled"><a href="#">«</a></li>
	<li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>

<div class="pagination pagination-btn">
  <ul>
	<li class="disabled"><a href="#">«</a></li>
	<li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
<div class="pagination pagination-small pagination-btn">
  <ul>
	<li class="disabled"><a href="#">«</a></li>
	<li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>

<h2>Alerts</h2>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>

<h2>Tables</h2>

<table class="table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Description</th>
			<th>Category</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				test esttest est
			</td>
			<td>
				<a href="/files/{{id}}">test esttest esttest est</a>
			</td>
			<td>
				test esttest esttest esttest esttest esttest esttest esttest est
			</td>
			<td>
				test est
			</td>
			<td>
				test est
			</td>
		</tr>
		<tr>
			<td>
				test esttest est
			</td>
			<td>
				<a href="/files/{{id}}">test esttest esttest est</a>
			</td>
			<td>
				test esttest esttest esttest esttest esttest esttest esttest est
			</td>
			<td>
				test est
			</td>
			<td>
				test est
			</td>
		</tr>
		<tr>
			<td>
				test esttest est
			</td>
			<td>
				<a href="/files/{{id}}">test esttest esttest est</a>
			</td>
			<td>
				test esttest esttest esttest esttest esttest esttest esttest est
			</td>
			<td>
				test est
			</td>
			<td>
				test est
			</td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Description</th>
			<th>Category</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				test esttest est
			</td>
			<td>
				<a href="/files/{{id}}">test esttest esttest est</a>
			</td>
			<td>
				test esttest esttest esttest esttest esttest esttest esttest est
			</td>
			<td>
				test est
			</td>
			<td>
				test est
			</td>
		</tr>
		<tr>
			<td>
				test esttest est
			</td>
			<td>
				<a href="/files/{{id}}">test esttest esttest est</a>
			</td>
			<td>
				test esttest esttest esttest esttest esttest esttest esttest est
			</td>
			<td>
				test est
			</td>
			<td>
				test est
			</td>
		</tr>
		<tr>
			<td>
				test esttest est
			</td>
			<td>
				<a href="/files/{{id}}">test esttest esttest est</a>
			</td>
			<td>
				test esttest esttest esttest esttest esttest esttest esttest est
			</td>
			<td>
				test est
			</td>
			<td>
				test est
			</td>
		</tr>
	</tbody>
</table>

</div>