
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand">Tracker</a>
			<div class="btn-group pull-right">
				{{#if session.user}}
					<a href="/user/id/" class="btn btn-default btn-small">
						{{session.user.username}}
					</a>
					<button data-toggle="dropdown" class="btn btn-default btn-small dropdown-toggle">
					  <span class="caret">
					  </span>
					</button>
					<ul class="dropdown-menu pull-right">
					  <li>
					    <a href="/user/{{session.user.id}}/">
					      Edit Profile
					    </a>
					  </li>
					  <li>
					    <a href="/user/{{session.user.id}}/edit">
					      Account Settings
					    </a>
					  </li>
					  <li>
					    <a href="/logout">
					      Logout
					    </a>
					  </li>
					</ul>
				{{else}}
					<a href="/login" class="btn btn-default">Log in</a>
					<a href="/register" class="btn btn-default">Register</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>
