@bodyBackground: @white;
@textColor : #5a5a5a;

// Links
// -------------------------
@linkColor: #f46447;
@linkColorHover: darken(@linkColor, 10%);

// Buttons
// -------------------------
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 5%);

@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: darken(@linkColor, 18%);


@errorText: darken(@linkColor, 18%);