<div class="widget widget-table action-table">
						
	<div class="widget-header clearfix">
		<i class="icon-th-list"></i>
		<h3>Sections</h3>
		<a href="/admin/sections/new" class="btn btn-primary btn-small">ADD</a>
		<a href="/admin/sections" class="pull-right">see all</a>
	</div> <!-- /widget-header -->

	<div class="widget-content">

	{{#if sections}}
		<table class="table table-bordered table-striped table-condensed table-hover dataTable">
			<thead>
				<tr>
					<th>Category</th>
					<th>Name</th>
					<th>Slug</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{{#each sections}}
					<tr>
						<td>
							{{#if categories}}
								{{#with categories}}
									{{name}}
								{{/with}}
							{{/if}}
						</td>
						<td>
							{{name}}
						</td>
						<td>
							{{slug}}
						</td>
						<td>
							<div class="text-right">
								<a class="btn btn-default btn-mini">modify</a>
								<a class="btn btn-default btn-mini">delete</a>
							</div>
						</td>
					</tr>
			{{/each}}
			</tbody>
		</table>
	{{else}}
		<div class="alert alert-info">
		  <strong>Aucun résultats</strong>
		</div>
	{{/if}}

	</div>
</div>