<div class="clearfix">
<h1 class="pull-left">Files</h1>
<a href="/files/new" class="btn btn-primary pull-right">new</a>
</div>

{{#if categories}}
	{{#each categories}}
		{{#if this}}
		<div class="widget">
								
			<div class="widget-header clearfix">
				<h3 class="title">{{name}} <small>{{id}}</small></h3>
			</div> <!-- /widget-header -->

			<div class="widget-body">
			{{#if files}}
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Date</th>
							<th>Title</th>
							<th>Description</th>
							<th>Category</th>
							<th>Type</th>
						</tr>
					</thead>
				{{#each files}}
					<tbody>
						<tr>
							<td>
								{{createdAt}}
							</td>
							<td>
								<a href="/files/{{id}}">{{title}}</a>
							</td>
							<td>
								{{body}}
							</td>
							<td>
								{{#with category}}
									<a href="/category/{{id}}">{{name}}</a>
								{{/with}}
							</td>
							<td>
								the type
							</td>
						</tr>
					</tbody>
				{{/each}}
				</table>
			{{else}}
				<div class="alert alert-info">
				  <strong>Aucun résultats</strong>
				  <a href="/files/new" class="btn btn-default">ajouter un fichier</a>
				</div>
			{{/if}}
			</div>
		</div>
		{{/if}}
	{{/each}}
{{/if}}